
<div class="about">
  <h3 style="background-color: #2c7;">Who am I?</h3>
  <hr>
<p>
  Hi Everyone, Here is a little bit about myself. My name is Fitsum, pronounced Fit-su-me. I am currently enrolled in Year Up's software development program and i'm working towards earning a certificate and an internship. I was born and raised in Addis Ababa, Ethiopia. I moved to Seattle 9 years ago, so I know how to get around this beautiful city (hmu). I spend most of my time working, but when I am free, I go out with friends, walk in Pike Place Market, take pictures, swim and binge watch The office. I love listening to J. Cole, Party Next Door, Majid Jordran and the weeknd . People that inspire me are Malcolm X, Percy Julian, Elon Musk, Bill Gates, Denzel Washington and my dad. I am hoping to utilize these skills to break into the tech industry as a Jr. Software Developer.
</p>
</div>
<div class="qualifications">
  <h3 style="background-color: orangered;">Skills</h3>
  <hr>
<ul>
    <li> HTML5</li>
    <li> CSS3</li>
    <li>JavaScript</li>
    <li> Angular 8</li>
    <li> AJAX</li>
    <li> Github </li>
</ul>
</div>



